.harri {
  background: red;
}

.card {
  border: 1px solid #ccc;
  background-color: aquamarine;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px; /* Cambiar el ancho según sea necesario */
}

.card header {
  text-align: center;
}

.card .card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card .card-body {
  margin-bottom: 10px;
}

.card .card-text {
  font-size: 1rem;
}

.card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .btn {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.card .btn:hover {
  background-color: #0056b3;
}

.card .text-muted {
  font-size: 0.8rem;
}

.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: block;
  margin-bottom: 10px;
}

.formulario input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #0056b3;
}

form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
p {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
