.harri {
  background: red;
}

.card {
  border: 1px solid #ccc;
  background-color: aquamarine;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px; /* Cambiar el ancho según sea necesario */
}

.card header {
  text-align: center;
}

.card .card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card .card-body {
  margin-bottom: 10px;
}

.card .card-text {
  font-size: 1rem;
}

.card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .btn {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.card .btn:hover {
  background-color: #0056b3;
}

.card .text-muted {
  font-size: 0.8rem;
}
